/* Global font setting */
* {
    font-family: Arial, sans-serif !important;
}

body, html {
    font-family: Arial, sans-serif !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.editable input{
    max-width:80px;
}
.table-myindex table {
    counter-reset: rowNumber -1;
}

.table-myindex table tr {
        counter-increment: rowNumber;
}

.table-myindex table tr td:first-child::before {
    content: counter(rowNumber)". ";
    min-width: 1em;
    margin-right: 0.5em;
}
.iframe{
    width: 804px;
    height: 652px;
    -webkit-transform: scale(0.43);
    -moz-transform: scale(0.43);
    -o-transform: scale(0.43);
    transform: scale(0.43);
    position: absolute;
    left: -225px;
    top: -183px;
}
